body{
	background-color:#f0e7e7;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

.container{
	
	width:80%;
	margin:auto;
	overflow:hidden;
}

#main-header{
	background-color:rgb(15, 15, 15);
	color:#fff;
}

#navbar{
	background-color:#333;
	color:#fff;
}

#navbar ul{
	padding:0;
	list-style: none;
}

#navbar li{
	display:inline;
}

#navbar a{
	color:#fff;
	text-decoration: none;
	font-size:18px;
	padding-right:15px;
}

#showcase{
	background-image:url('../images/Giaythonghanh.jpg');
	background-position:center ;
	 ;
	background-size: 80%;
	background-repeat:no-repeat ;
	min-height: 700px;
	margin-bottom:30px;
	text-align: center;
	background-color: Black;
	
	

}

#showcase button{
	border: none;
	color: rgb(255, 255, 255);
	
	padding: 16px 32px;
	background-color: rgb(0, 0, 0);
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: auto;
	transition-duration: 0.4s;
	cursor: pointer;
	position: absolute;
	top: 400px;
	left: 870px;
	
	
	
	

}
#showcase button:hover{
	background-color: #fff8f8; /* Green */
	color: rgb(0, 0, 0);
	 
}

#showcase h1{
	color:rgb(187, 187, 187);
	font-size:40px;
	line-height: 1.6em;
	padding:10px;
	margin:auto;
	background-color: black;
	position: absolute;
	top:600px;
	left:300px;

}
#main{
	float:left;
	width:70%;
	padding:0 30px;
	box-sizing: border-box;
}
#main services-section{
	background: url(bg.jpg);
	background-size: cover;
	padding: 60px 0;
  }
  .inner-width{
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 0 20px;
	overflow: hidden;
  }
  #main section-title{
	text-align: center;
	color: #ddd;
	text-transform: uppercase;
	font-size: 30px;
  }
  .border{
	width: 160px;
	height: 2px;
	background: #82ccdd;
	margin: 40px auto;
  }
  #main services-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  }
  
  #main service-box{
	max-width: 33.33%;
	padding: 10px;
	text-align: center;
	color: #ddd;
	cursor: pointer;
  }
  
  #main service-icon{
	display: inline-block;
	width: 70px;
	height: 70px;
	border: 3px solid #82ccdd;
	color: #82ccdd;
	transform: rotate(45deg);
	margin-bottom: 30px;
	margin-top: 16px;
	transition: 0.3s linear;
  }
  #main service-icon i{
	line-height: 70px;
	transform: rotate(-45deg);
	font-size: 26px;
  }
  #main service-box:hover .service-icon{
	background: #82ccdd;
	color: #ddd;
  }
  #main service-title{
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 10px;
  }




.servicesection{
	background-color: black;
	Background-size:hover;

}
#sidebar{
	float:right;
	width:30%;
	background: #333;
	color:#fff;
	padding:10px;
	box-sizing: border-box;
}

#main-footer{
	background: #333;
	color:#fff;
	text-align: center;
	padding:20px;
	margin-top:40px;
}

@media(max-width:600px){
	#main{
		width:100%;
		float:none;
	}

	#sidebar{
		width:100%;
		float:none;
	}
}
